### Write a Python program that displays a message as follows for a given number:

    If it is a multiple of 3, display "Zip"

    If it is a multiple of 5, display "Zap"

    If it is a multiple of both 3 and 5, display "Zoom"

    If it does not satisfy any of the above given conditions, display "Invalid"

In [4]:
def CheckNumber(n):
    if n % 3 == 0 and n%5 == 0:
        print("Zoom")
    elif n % 5 == 0:
        print("Zap")
    elif n % 3 == 0 :
        print("Zip")
    else:
        print("Invalid")

In [5]:
CheckNumber(15)

Zoom

In [6]:
CheckNumber(3)

Zip

In [7]:
CheckNumber(20)

Zap

In [9]:
CheckNumber(26)

Invalid

### Write a Python program to find the sum of digits of a given number.

Example: Sum of digits of the number 123 will be 6

In [10]:
def SumDigit(n):
    total = 0
    for i in str(n):
        total += int(i)
        
    return total

In [11]:
SumDigit(123)

6

In [12]:
SumDigit(12345)

15

### Write a Python program to check whether the given year is leap year or not.

Every year that is exactly divisible by four is a leap year, except for years that are exactly divisible by 100, but these centurial years are leap years if they are exactly divisible by 400.

In [19]:
def CheckLeap(year):
    if year % 4 ==0:
        str_year = str(year)
        if str_year[-3:] =="000" or str_year[-2] =="00":
            if year % 400 == 0:
                print("It is a leap year")
            else:
                print("It is not a leap year")
        else:
            print("It is a leap year")
    else:
        print("It is not a leap year")

In [20]:
CheckLeap(2000)

It is a leap year

In [21]:
CheckLeap(2022)

It is not a leap year

### Write a Python program to find and display the maximum of three given numbers.

In [25]:
def FindMax(lst):
    return "The maximum number is:",max(lst)

In [26]:
numbers = [23,45,65]

In [27]:
FindMax(numbers)

('The maximum number is:', 65)

### Write a Python program to check the given number is prime number or not.

In [37]:
def CheckPrime(n):
    count =0
    for i in range(1,n+1):
        if n%i == 0:
            count +=1
            
    if count == 2:
        return "It is a prime number"
    else:
        return "It is not a prime number"

In [38]:
CheckPrime(11)

'It is a prime number'

In [39]:
CheckPrime(15)

'It is not a prime number'

### Write a Python program to print first n Fibonacci numbers.

In [44]:
def FibonacciSeries(n):
    a = 0
    b = 1
    series = [a,b]
    for i in range(n-1):
        c = a +b
        series.append(c)
        a = b
        b = c
        
    return series

In [45]:
FibonacciSeries(5)

[0, 1, 1, 2, 3, 5]

In [46]:
FibonacciSeries(15)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610]

### An organization has decided to provide salary hike to its employees based on their job level. Employees can be in job levels 3 , 4 or 5. Hike percentage based on job levels are given below:

Job level
	

Hike Percentage (applicable on current salary)

3 - 15

4 - 7

5 - 5

In case of invalid job level, consider hike percentage to be 0.

Given the current salary and job level, write a Python program to find and display the new salary of an employee.

In [47]:
def NewSalary(job_level,current_salary):
    if job_level == 3:
        return current_salary +((current_salary) * (15/100))
    elif job_level == 4:
        return current_salary +((current_salary) * (7/100))
    elif job_level==5:
        return current_salary +((current_salary) * (5/100))
    else:
        return "Invalid Job level"

In [48]:
NewSalary(3,10000)

11500.0

In [49]:
NewSalary(4,15000)

16050.0

In [50]:
NewSalary(5,20000)

21000.0

In [51]:
NewSalary(6,20000)

'Invalid Job level'